# Node
node_modules/
npm-debug.log*

# Build output
dist/
.next/
coverage/

# Env
.env
.env.local
.env.*.local

# Prisma
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# OS / editors
.DS_Store
Thumbs.db
.idea/
.vscode/

